<!DOCTYPE html>
<html>
  <head>
  	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  	<link rel='stylesheet' href='/stylesheets/style.css' />

  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  	<script src="/javascripts/app.js"></script>
  	<script src="/javascripts/controllers.js"></script>
  	<script src="/javascripts/factories.js"></script>
   
  </head>
  <body ng-app="beerReview" ng-controller="MainController">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>

    <script type="text/ng-template" id="/home.html">
      <h1>Beer Review</h1>
    
    	<div ng-repeat="beer in beers">
    		{{beer.name}} - Rating:
    		{{beer.rating}}
        <span>
          <a href="#/beers/{{$index}}">Notes</a>
        </span>
    	</div>

    	<form ng-submit="addBeer()"
    	  style="margin-top:30px;">
    	  <h3>Add a new beer</h3>

    	  <div class="form-group">
    	    <input type="text"
    	      class="form-control"
    	      placeholder="Name"
    	      ng-model="name"></input>
    	  </div>
    	  <div class="form-group">
    	    <input type="text"
    	    class="form-control"
    	    placeholder="Rating"
    	    ng-model="rating"></input>
    	  </div>
    	  <button type="submit" class="btn btn-primary">Post</button>
    	</form>
    </script>

    <script type="text/ng-template" id="/beers.html">
      <div class="page-header">
        <h3>
          <span>
            {{beer.name}}
          </span>
          <span>
            - Rating: 
            {{beer.rating}}
          </span>
        </h3>
      </div>

      <div ng-repeat="note in beer.notes">
        {{note.date}} - {{note.thoughts}}
      </div>

    </script>

  </body>
</html>
